/* Hero Section */
.hero {
    max-width: 850px;
    margin: 80px auto;
    text-align: left;
    padding: 0 20px;
}

.hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--accent);
}

.hero p {
    font-size: 17px;
    line-height: 1.6;
    max-width: 700px;
}

.hero-intro {
    font-size: 14px;
    line-height: 1.7;
    color: var(--muted);
    margin-bottom: 35px;
}

/* Social Icons */
.social-icons {
    margin-top: 25px;
}

.social-icons a {
    margin-right: 18px;
    color: var(--accent);
    font-size: 22px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #7fe1ff;
}
